@use 'base' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'layout' as *;
@use './components' as *;

body {
  @include flex-column;
  @include align-center;
  min-height: 100dvh;
  min-width: 100vw;
  color: $color-content;
}
