@use '../variables' as *;
@use '../mixins' as *;

.button {
  @include flex-row;
  @include align-center;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1.5em;
  transition: all 150ms;
  color: $color-white;
  gap: 8px;
  &--primary {
    background-color: $color-primary;
    &:hover {
      fill: $color-primary;
      color: $color-primary;
    }
  }
  &--secondary {
    background-color: $color-secondary;
    &:hover {
      color: $color-secondary;
    }
  }
  &:hover {
    background-color: $color-quaternary;
  }
  &__icon {
    display: inline-block;
    color: $color-white;
    width: 16px;
    height: 16px;
  }
}
