@use '../mixins';
@use '../variables';

.icon-button {
  @include mixins.flex-center;
  width: 48px;
  height: 48px;
  padding: 0.5em;
  border-radius: 48px;
  &--primary {
    background-color: variables.$color-primary;
    &__icon {
        @include mixins.icon-button-icon;
        &:hover {
            color: variables.$color-primary;
        }
    }
  }
  &--secondary {
    background-color: variables.$color-secondary;
    &__icon {
        @include mixins.icon-button-icon;
        &:hover {
            color: variables.$color-secondary;
        }
    }
  }
  &--danger {
    background-color: variables.$color-danger;
    &__icon {
        @include mixins.icon-button-icon;
        &:hover {
            color: variables.$color-danger;
        }
    }
  }
}
